{% extends 'main/base.html' %}

{% load static %}
{% block extra_head %}
<style>
  body {
    background: url("{% static 'restaurant.jpg' %}") no-repeat center center fixed;
    background-size: cover;
  }
</style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4" style="width: 25rem;">
    <h3 class="text-center mb-4">Iniciar Sesión</h3>
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div class="alert alert-danger">
          Por favor corrige los errores debajo.
        </div>
      {% endif %}
      
      {{ form.as_p}}

      <!-- Botón -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>

      <div class="login-footer">
            <p class="mb-0">¿No tienes una cuenta? <a href="{% url 'accounts:register' %}" class="link-primary">Regístrate ahora</a></p>
      </div>

      <div class="text-center mt-4">
            <p class="text-muted">&copy; 2023 RESTAURANT ZERO. Todos los derechos reservados.</p>
            <p class="text-muted"><a href="#" class="link-primary">Términos de uso</a> | <a href="#" class="link-primary">Política de privacidad</a></p>
        </div>
    </form>
  </div>
</div>
{% endblock %}